build_info/
cache/
doc/
extensions/
specifications/

gems/*
spotlight/*
spotlight/public/uploads/
spotlight/tmp/
spotlight/log
bundler/gems/spotlight-5e29a08dd44a/

!bundler/
!bundler/gems/
!bundler/gems/spotlight-4a916cf7283c/
!bundler/gems/spotlight-4a916cf7283c/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!gems/
!gems/blacklight-5.17.2/
!gems/blacklight-5.17.2/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!gems/blacklight-gallery-0.4.0/
!gems/blacklight-gallery-0.4.0/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!spotlight/
!spotlight/*
spotlight/public/uploads/
spotlight/tmp/
spotlight/log


