build_info/
cache/
doc/
extensions/
specifications/
bundler/*
gems/*
spotlight/*
spotlight/public/uploads/
spotlight/tmp/
spotlight/log

!bundler/
!bundler/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!gems/
!gems/blacklight-5.17.2/
!gems/blacklight-5.17.2/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!gems/blacklight-gallery-0.4.0/
!gems/blacklight-gallery-0.4.0/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!spotlight/
!spotlight/*
spotlight/public/uploads/
spotlight/tmp/
spotlight/log


